body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #F5F6F8;
}

P, LI, OL, UL, TABLE, TR, TH, TD, .Explicit {
    font: 12px/1.3 'Arial', Helvetica, sans-serif;
}

/* COLUMNS */

.sidebar_donate {
  margin: 0 auto;
  max-width: 190px;
  width: 100%;
  margin-top: 45px;
}

.sidebar_donate > p {
  font-size: 14px;
  text-align: center;
}

/* TITLES */

h1 {
	text-align: left;
  color: #433931;
  margin: 0px auto 30px auto;
  font-size: 45px;
}

h2 {
	font-size: 20px;
  font-weight: 600;
  color: #433931;
}

/* ICONS */

.glyphicon-asterisk.required {
    color: red;
    position: relative;
    font-size: 11px;
    margin-right: 4px;
    top: -5px;
}

.glyphicon-info-sign.info {
    cursor: pointer;
    color: #C60070;
}

/*div.card-data i.form-control-feedback {
  top: 28px!important;
  right: 23px!important;
}*/

/* PAY AMOUNT */

.payamount {
    background-color: #f8dceb;
    border-radius: 5px;
    padding: 15px 0px 15px 20px;
    text-align: center;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #433931;
}

.amtmonies {
    color: #c60070;
    font-family: "Open Sans",sans-serif;
    font-size: 28px;
    font-weight: 300;
    text-align: left;
    margin-bottom: 0;
}

.amttimes {
    font-family: "Open Sans",sans-serif;
    text-align: left;
    font-weight: 400;
    margin-bottom: 0;
    font-size: 15px;
}

/* SUBSCRIBE */

#donor_email_opt_inname {
	width: 15px;
	height: 15px;
}

#end-payment > fieldset > label {
	font-size: 15px;
	font-weight: 600;
}

input#donor_email_opt_inname[type=checkbox] {
    display: none;
}

input#donor_email_opt_inname[type=checkbox] + i + label {
    background: url("../img/checkboxes.png") no-repeat;
    width: 100%;
    display: inline-block;
    padding: 8px 0 0 32px;
    background-position: 0 3px;
    height: 30px;
    margin-bottom: 15px;
    font-weight: 700;
}

input#donor_email_opt_inname[type=checkbox]:checked + i + label {
    background: url("../img/checkboxes.png") no-repeat;
    width: 100%;
    display: inline-block;
    padding: 8px 0 0 32px;
    background-position: 0 3px;
    height: 30px;
    margin-bottom: 15px;
    font-weight: 700;
    background-position: 0 -27px;
}

/* SEND DONATION */

div.button-container {
  margin-top: 0px;
  padding-top: 0px;
}

.step-button.action-button.finish-step {
    background-color: #2cb0a5;
    background-image: none;
    border: 1px solid #2cb0a5;
    border-radius: 5px;
    color: #ffffff;
    font-family: "Open Sans",sans-serif;
    font-size: 22px;
    font-weight: 300;
    padding: 25px 75px;
    text-align: center;
}



/* CALLOUTS */

.komen-callout {
    background-color: #ffffff;
    border-left: 2px solid #2CB0A5;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
}

.komen-section {
    margin-top: 20px;
    padding: 10px 10px 10px 35px;
}

.komen-section div.row {
	margin:0;
}

.komen-section div.row label {
	font-size: 15px;
  font-weight: 100;
}

.komen-p{
  font-size: 15px;
  line-height: 1.5;
  font-family: inherit;
}

.komen-no-top{
  margin-top: 0;
}

.komen-img{
    float: left;
    width: 30%;
}
img + .komen-p{
  margin-top: 20px;
}

/* BUTTONS FOR VALUE*/

.btn-value{
  width: 15%;
  box-sizing: border-box;
  font-family: "Open Sans",sans-serif;
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 17px;
  border: 1px solid #2cb0a5;
  border-radius: 5px;
  color: #2cb0a5;
  background-color: #ffffff;
  height: 70px;
  margin-left: 5px;
  margin-bottom: 15px;
}

.btn-value-selected{
  background-color: #2cb0a5;
  color: #ffffff;
}

#cont-don-amount, #tribute_honoree_name_row, #send-ecard ,#mail-card, #tribute-card-me {
  display: none;
}
#tribute_honoree_name_row{
  margin-top: 25px;
}

#cont-tribute{
  margin-top: 14px;

}

#cont-tribute>div:first-child{
    margin-bottom: 14px;
}
label.checkbox{
  font-weight: 300;
  cursor: pointer;
}
#mail-card{
  margin-top:24px;
}

#mail-card>label.radio{
  cursor: pointer;
  width: 100%;
}
#mail-card>div:first-of-type{
  margin-bottom: 15px;
}
span + label.radio{
  display: inline-block;
}

label.radio{
  display: inline-block;
  box-sizing: border-box;
  width: 45%;
  font-weight: 300;
}

label.komen-ecard-image{
  width: 46%;
  margin: 0 1%;
  box-sizing: border-box;
  margin-bottom: 14px;
}
label.komen-ecard-image>img{
  width: 100%;
}
label.komen-ecard-image>input{
  display: block;
  margin: 8px auto;
}

#send-ecard>div{
  margin-top:24px;
}
label.send-ecard{
  width: 100%;
}
.komen-date{
  width: 20%;
  margin: 0 6px;
  display: inline-block;
}

textarea{
  resize: none;
}

#nullbtn{
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  display: block;
  width: 60%;
  margin: 25px auto;
}
label.radio-inline{
  width: 30%;
}
#tribute-card-me{
  margin-top: 14px;
  padding-top: 14px;
}
#tribute-card-me>div{
  box-sizing: border-box;
  width: 46%;
  margin: 0 1% 24px 1%;
  display: inline-block;
}

#tribute-card-me label.control-label{
  font-weight: 100;
  text-align: left;
}
/* MEDIA QUERIES */

@media (max-width:767px) {

  #tribute-card-me>div{
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
  }
  label.radio-inline{
    width: 100%;
  }
  label.komen-ecard-image{
    width: 100%;
    margin: 0;
  }
  .btn-value{
    width: 30%;
  }

  label.radio{
    width: 90%;
  }
}

@media (min-width: 991px) {


}

@media (min-width: 1199px) {

	/* CREDIT CARD DATA */

  #cardnumber, #cvv {
  	width: 90%;
  }

  select.card-expiry-month.stripe-sensitive.required.form-control {
  	width: 45%
  }

  select.card-expiry-year.stripe-sensitive.required.form-control {
  	width:45%;
  }

	div.card-data i {
	  top: 28px!important;
	  right: 23px!important;
	}



	/* YOUR INFORMATION */

	#your-information input, #billing-details input {
		width: 90%;
	}

	#billing-details > fieldset > div:nth-child(1) > div > div > div > a {
		width: 95%;
	}

	#your-information i.form-control-feedback {
	  top: 29px;
	  right: 31px;
	}

	#billing-details i.form-control-feedback {
		top: 28px;
		right: 35px;
	}

  #payment-information i.form-control-feedback {
    top: 28px!important;
    right: 22px!important;
  }

  /* SEND DONATION */

	div#end-payment button.finish-step {
	float: left;
	}

	div#end-payment div.payamount {
		float: left;
		margin-left: 45px;
		margin-top: 0!important;
	}

  #billing-details > fieldset > div:nth-child(1) > div > div > div > a {
    border-color: white;
  }
}

@media (max-width: 1199px) {
  /* SEND DONATION */

  div#end-payment button.finish-step {
    width: 100%;
  }

  div#end-payment div.payamount {
    margin-top: 20px!important;
    width: 100%;
  }

  #payment-information > fieldset > div.payamount {
    width: 100%;
  }

  /* VALIDATION ICONS */

  #payment-information fieldset i.form-control-feedback, #billing-details fieldset i.form-control-feedback, #your-information fieldset i.form-control-feedback {
    top: 29px;
    right: 6px;
  }

  #payment-information > fieldset > div.row > div.col-xs-12.col-sm-12.col-md-12.col-lg-6 > div > div > select {
    width: 100%;
  }
}

@media (max-width: 990px) {
  h2 .glyphicon-asterisk.required {
    top: -5px!important;
    right: 1px!important;
  }

  div.container div.row {
    margin: 0 0px 0 0px;
  }
}
