body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #F5F6F8;
}

P, LI, OL, UL, TABLE, TR, TH, TD, .Explicit {
    font: 12px/1.3 'Arial', Helvetica, sans-serif;
}

/* COLUMNS */

.sidebar_donate {
  margin: 0 auto;
  max-width: 190px;
  width: 100%;
  margin-top: 45px;
}

.sidebar_donate > p {
  font-size: 14px;
  text-align: center;
}

/* TITLES */

h1 {
	text-align: left;
  color: #433931;
  margin: 0px auto;
  font-size: 45px;
}

h2 {
	font-size: 20px;
  font-weight: 600;
  color: #433931;
}

h2 .glyphicon-asterisk.required {
	font-size: 13px;
	top: -8px;
}

/* ICONS */

.glyphicon-asterisk.required {
	color: red;
	position: relative;
	font-size: 8px;
  margin-right: 2px;
}

.glyphicon-info-sign.info {
    cursor: pointer;
    color: #C60070;
}

div.card-data i {
    top: 28px!important;
    right: 0px!important;
}

/* SPECIFIC STYLES */

.payamount {
    background-color: #f8dceb;
    border-radius: 5px;
    margin-left: 35px;
    padding: 15px 0px 15px 20px;
    text-align: center;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #433931;
}

.amtmonies {
    color: #c60070;
    font-family: "Open Sans",sans-serif;
    font-size: 28px;
    font-weight: 300;
    text-align: left;
    margin-bottom: 0;
}

.amttimes {
    font-family: "Open Sans",sans-serif;
    text-align: left;
    font-weight: 400;
    margin-bottom: 0;
    font-size: 15px;
}

/* CALLOUTS */

.komen-callout {
    background-color: #ffffff;
    border-left: 2px solid #2CB0A5;    
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
}

.komen-section {
    margin-top: 20px;
    padding: 10px 10px 10px 35px;
}

.komen-section div.row {
	margin:0;
}

.komen-section div.row label {
	font-size: 15px;
  font-weight: 100;
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
  #cardnumber {
  	width: 90%;
  }

  select.card-expiry-month.stripe-sensitive.required.form-control {
  	width: 45%
  }

  select.card-expiry-year.stripe-sensitive.required.form-control {
  	width:45%;
  }
}