body {
    background-color: #F5F6F8;
}

.sidebar_donate {
    margin: 0 auto;
    max-width: 190px;
    width: 100%;
    margin-top: 45px;
}

.sidebar_donate > p {
    font-size: 14px;
    text-align: center;
}